<link href="/styles/custom.css" rel="preload stylesheet">
<link rel="me" href="https://mastodon.social/@mehdy314">
<link rel="me" href="https://fosstodon.org/@mehdy">
<link rel="me" href="https://hachyderm.io/@mehdy">
{{ if (eq .Language.Lang `fa`) }}
<link href="https://cdn.jsdelivr.net/gh/rastikerdar/samim-font@v4.0.5/dist/font-face.css" rel="stylesheet" type="text/css" />
<style>
html body {
    font-family: Samim, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}
</style>
{{ end }}
