{{ partial "head.html" . }}
<main class="posts">
    <article class="post">
        <div class="post-header-cover text-center">
            <div class="post-header main-content-wrap text-center">
                <h1 class="post-title">404 Not Found</h1>
                <div class="postShorten-meta post-meta">
                    <p>Sorry, but we couldn't find the page you're looking for.</p>
                    <p>Please head back <a style="font-weight: bold;" href="/">home</a>.</p>
                </div>
            </div>
    </article>
</main>
{{ partial "foot.html" . }}
